.modalImage {
  max-width: 60vw;
  height: auto;
  max-height: 800px;
}
/*.Overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  outline: none;
  border-radius: 8px;
}*/
